<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>

<div style="margin-top: 20px;">
    <h1 class="container">Some error Occured!</h1>
<p class="container">We're working on fixing this,sorry for that inconvenience!</p>
</div>

<%- include('includes/foot.ejs') %>
            
